/* login.css */

/* Estilize o container principal */
.login-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-container img {
  width: 500px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
}


.login-box {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-height: 35vh;
  height: 30vh;
  min-height: 25vh;
  min-width: 10vw;
  width: 20vw;
  max-width: 25vw;
  width: 25vw;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-box h1 {
  font-size: 24px;
  margin-bottom: 20px;
}


.login-user,
.password-blinded,
.password-seen {
  min-width: 12vw;
  max-width: 12vw;
  width: 12vw;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}


.bi-eye,
.bi-eye-slash {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-container {
  position: relative;
}

button {
  background-color: #d00f0f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  min-width: 5vw;
  max-width: 10vw;

}
