*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #d40303e3;
    color: white;
    padding: 10px 0;
    position: relative;
    width: 99,99vw;
    height: 14vh;
    top: 0;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Centraliza os elementos horizontalmente */
    align-items: center; /* Centraliza os elementos verticalmente */
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

ul li:last-child {
    margin-left: auto; /* Move o último elemento para o canto superior direito */
}

li a:hover {
    background-color: #f51313;
}

.img_config{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.dropdown {
    position: relative;
  }
  
  .dropdown-content {
    border-radius: 10%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: -130px; /* Ajuste o valor negativo para a largura do dropdown */
  }
  
  .dropdown-content.show {
    display: block;
  }
  
  /* Estilos para os links dentro do dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Estilize o link quando o mouse passar por cima */
  .dropdown-content a:hover {
    background: none;
    text-decoration: underline;
  }
  

.containerSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 600px) {
    ul {
        flex-direction: column;
        align-items: center;
        display: none;
        /* Esconde o menu por padrão */
        position: absolute;
        /* Posiciona o menu de forma absoluta */
        top: 30px;
        /* Ajusta a posição vertical */
        left: 0;
        width: 100%;
        background-color: #d40303e3;
        /* Define a cor de fundo */
        z-index: 1;
        /* Define a ordem de empilhamento */
    }

    ul.open {
        display: flex;
    }

    li {
        margin: 5px 0;
    }

    .menu-toggle {
        display: none;
        cursor: pointer;
    }

    .menu-toggle:checked~ul {
        display: flexbox;
    }

    .menu-toggle:checked~label {
        background-color: #555;
    }

    .containerSearch {
        margin-top: 70px;
        /* Ajuste a margem superior para dar espaço ao menu */
    }

    /* Estilos para o ícone do menu */
    /* Estilos para o ícone do menu */
    .menu-icon {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
        transition: background-color 0.3s;
        display: inline-block;
        cursor: pointer;
    }

    .menu-icon-bar {
        display: block;
        width: 50%;
        height: 3px;
        margin: 4px auto;
        background-color: white;
        transition: background-color 0.3s, transform 0.3s;
    }

    .open .menu-icon-bar:nth-child(1) {
        transform: translateY(6px) rotate(-45deg);
    }

    .open .menu-icon-bar:nth-child(2) {
        opacity: 0;
    }

    .open .menu-icon-bar:nth-child(3) {
        transform: translateY(-6px) rotate(45deg);
    }


    .menu-icon.open {
        background-color: #555;
        /* Altera a cor do ícone quando o menu está aberto */
    }

}

@media screen and (min-width: 601px) {
    .menu-toggle {
        display: none;
    }

    ul {
        display: flex !important;
    }
}