* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerDetalhes {
  margin-top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 90vw;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  min-width: 30%;
}

.object-card-detail {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 20px;
  width: 50vw;
  max-width: 600px;
  margin-bottom: 20px;
  box-sizing: border-box;
  text-align: center;
  max-width: 100%;
}



.table_header {
  display: flex;
  width: 100vw;
}




.header_card {
  display: flex;
  gap: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  max-width: 100%;
}

.codigoPeca{
  font-weight: bold;
}

.descricaoPeca{
  font-weight: bold;
}

.description-detail {
  padding-top: 10px;
}

.botaoVoltar {
  display: flexbox;
  background-color: #d40303;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: fit-content;
  min-width: 80px;
  align-self: center;
}

.botaoVoltar:hover {
  background-color: #f51313;
}

.grid-tabela {
  width: 100%;
  border-collapse: collapse;
  max-width: 100%;
}

.grid-tabela-container {
  width: 100%;
  overflow-x: auto;
  max-width: 100%;
}

.linha {
  border-bottom: 1px solid #ccc;
  max-width: 100%;
  overflow-x: auto;
}

.coluna {
  padding: 10px;
  text-align: center;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  max-height: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 100%;
}

.colunaPrimaria {
  border: 1px solid #ccc;
  max-width: 50px;
  padding: 5px;
  justify-content: center;
}

.coluna h4 {
  margin: 0;
}

.coluna p {
  margin: 5px 0;
  font-size: 14px;
}


@media (max-width: 600px) {
  .coluna {
    padding: 5px;
    font-size: 12px;
  }

  .object-card-detail {
    padding: 10px;
    margin-bottom: 10px;
  }
}