*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
}

.card-container {
  display: grid;
  gap: 15px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.object-card {
  border: 1px solid #000000;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 250px;
  max-width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 20px;
  color: black;
}

.object-card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ff8686c7;
}

.header_card {
  justify-content: space-between;
  align-items: center;
}

.codigoPeca_card {
  text-align: start;
  font-size: 16px;
  font-weight: bold;
}

.casaPeca_card {
  text-align: end;
  font-size: 14px;
}

.description {
  margin: 10px 0;
}

.description p {
  max-height: 20px;
  height: 20px;
  text-align: center;
  font-weight: bold;
}

.body_card {
  width: 100%;
  position: relative;
  text-align: center;
}

.referencia_card {
  font-size: 14px;
  color: #777;
  padding-top: 25px;
}

.footer_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.quantidade_card {
  font-size: 14px;
}

.valorPeca_card {
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .card-container {
    grid-template-columns: 1fr;
  }

  .card {
    flex: 0 1 100%;
  }

  @media screen and (min-width: 601px) {
    .object-card {
        margin-top: 80px;
    }
}
}