*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link{
display: flex;
align-content: baseline;
}


.search-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;  
  width: 50%;
  position: fixed;
}

.select-wrapper {
  margin-right: 10px;
}

.select-wrapper select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.search-input {
  margin-top: 15px;
  padding: 8px;

  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 14px;
  max-width: 500px;
  min-width: 150px;
}

.search-button {
  background-color: #ffffff;
  color: black;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color:#fd9898;
}



/* Estilos para dispositivos móveis */
@media screen and (max-width: 600px) {
  .search-bar-container {
    flex-direction:row;
    align-items: flex-start;
  }
  
  .select-wrapper,
  .search-input {
    max-width: 100%;
  }
}
