body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #BFBFBF;
}

.searchTerm{
  width: fit-content;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  text-align: center;
}
.containerDetalhes{
margin-top: 50px;
width: 100vw;
height: 40vh;
justify-content: center;
display: flex;
}

.containerPecaUnitaria{ 
  border-radius:10%;
  width: 350px;
  background-color: white;
}


.containerPecaUnitaria table {
  margin-top: 20px;
  width: 80%;
  border-collapse: collapse;
}
.containerPecaUnitaria th {
  background-color: #a13e3ec0;
  font-weight: bold;
}

.containerPecaUnitaria tr:nth-child(even) {
  background-color: #727272;
}


