body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #BFBFBF;
}

.searchTerm{
  width: fit-content;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  text-align: center;
}

.excel-table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

.excel-table th,
.excel-table td {
  padding: 8px;
  text-align: left;
}

.excel-table th {
  background-color: #742b2bc0;
  font-weight: bold;
}

.excel-table tr:nth-child(even) {
  background-color: #727272;
}

.excel-table tr:hover {
  background-color: #77292946;
}